.shopping-cart-container {
    position: fixed;
    right: 1rem;
    top: 4.5rem;

    min-width: 10rem;
    max-width: 20rem;
    min-height: 2rem;

    background: rgba(255, 255, 255, 0.6);
    border: 1px solid black;
    padding: .5rem;

    display: flex;
    flex-flow: row wrap;
}

.shopping-cart-item {
    padding: .25rem;

}