<div class="container" #listContainer myScrollspy (scrolled)="onScroll($event)">

  <div class="flex-grid">
    <div class="flex-grid-item text-xs-center" *ngFor="let item of items; let i = index" [ngSwitch]="isProduct(item)">

      <!-- Product -->
      <app-product [size]="item.size" *ngSwitchWhen="true">
        <product-date>{{ item.date | formatTimestamp }}</product-date>
        <product-face>{{ item.face }}</product-face>
        <product-price>{{ item.price | formatCurrency:"$" }}</product-price>
        <product-buttons>
          Index: {{i+1}}
          <a class="btn btn-block btn-primary" (click)="addToCart(item)">Add to cart</a>
        </product-buttons>
      </app-product>

      <!-- Ad -->
      <app-ad [src]="item.url" *ngSwitchWhen="false">
      </app-ad>

    </div>
  </div>
</div>