<nav class="navbar navbar-fixed-top navbar-dark bg-primary">
  <a class="navbar-brand" href="#">{{title}}</a>
  <div class="nav navbar-nav pull-right">
    <a class="nav-item nav-link" (click)="toggleShoppingCartVisibility()">
      <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
      <span class="label label-default" *ngIf="shoppingCart.getProductCount() > 0"> {{ shoppingCart.getProductCount() }}</span>
    </a>
  </div>
</nav>

<app-shopping-cart #shoppingCart></app-shopping-cart>

<div class="container-fluid" style="margin: 80px 0; padding: 0">
  <div class="container">
    <header>
      <h1>{{title}}</h1>

      <p>Here you're sure to find a bargain on some of the finest ascii available to purchase. Be sure to peruse our selection
        of ascii faces in an exciting range of sizes and prices.</p>
      <!--
    <p>But first, a word from our sponsors:</p>
    <app-ad [src]="randomAd.url"></app-ad>
    -->

    </header>
  </div>

  <section class="form-inline bg-faded options-bar">
    <label for="sortSelect">Sort</label>
    <select class="form-control" id="sortSelect" [(ngModel)]="selectedSortOption">
        <option *ngFor="let sortOption of sortOptions" [value]="sortOption">{{sortOption}}</option>
      </select>
    <button class="btn btn-secondary" (click)="applySort()">Apply</button>
  </section>

  <div class="container">
    <section class="products">

      <!-- Product List with Ads at every 20th position -->
      <app-product-list [items]="items" (preload)="loadMoreProducts()" (addedToCart)="onAddedToCart($event)"></app-product-list>

      <!-- Load more products button -->
      <div class="container-fluid text-xs-center" *ngIf="!isLoading && !isEndOfCatalogue && !error">
        <button class="btn btn-secondary" (click)="loadMoreProducts()">Load more</button>
      </div>

      <!-- Loading animation -->
      <app-loading *ngIf="isLoading"></app-loading>

      <!-- End of catalogue -->
      <div class="container-fluid text-xs-center" *ngIf="isEndOfCatalogue">
        ~ end of catalogue ~
      </div>

      <!-- Error + Retry -->
      <div class="alert alert-danger text-xs-center" role="alert" *ngIf="error">
        <div>
          <strong>{{ error }}</strong>
        </div>
        <div>
          <button class="btn btn-secondary" (click)="loadMoreProducts()">Retry</button>
        </div>
      </div>

    </section>
  </div>
</div>