<div class="card text-xs-center product">
  <div class="card-block">
    <p class="card-subtitle">
      <small class="text-muted">

          <!-- Product Timestamp -->
          <ng-content select="product-date"></ng-content>
        </small>
    </p>
  </div>
  <div class="card-block">

    <!-- Product Face -->
    <p [style.font-size]="size + 'px'">
      <ng-content select="product-face"></ng-content>
    </p>
  </div>
  <div class="card-block">

    <!-- Product Price -->
    <ng-content select="product-price"></ng-content>
  </div>
  <div class="card-block">

    <!-- Product Buttons (Add to cart) -->
    <ng-content select="product-buttons"></ng-content>
  </div>
</div>