<div>
  <hr/>
  <p>Sort by:</p>
  <select [(ngModel)]="selectedSortOption">
        <option *ngFor="let sortOption of sortOptions" [value]="sortOption">{{sortOption}}</option>
      </select>
  <button (click)="applySort()">Apply</button>
  <hr/>
</div>

<div [ngSwitch]="loading">

  <div *ngSwitchWhen="false">

    <div *ngFor="let product of products">
      <p>{{ formatTimestamp(product.date) }}</p>
      <p [style.font-size]="product.size + 'px'">{{product.face}}</p>
      <p>$ {{product.price / 100}}</p>
      <hr/>
    </div>
  </div>

  <div *ngSwitchWhen="true">
    <i class="text-primary fa fa-spin fa-circle-o-notch fa-2x" aria-hidden="true"></i>
  </div>

</div>